body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin: 0;
    background-color: #F5F5F5;
}

a {
    color: #2196F3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.h-150 {
    height: 150%;
}

.vh-100 {
    height: 100vh;
}

.icon {
    width: 40px;
    height: 40px;
}

.border {
    border-bottom: 3px solid lightgray;
}

.image {
    width: 150px;
}